.photo {
color: #003366;
margin-bottom: 30px;
}

.header  h2{
font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
color: #003300;
}

.header {
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: #001A33;
}

div.header{
margin-bottom: 30px;
}